#four-o-four {
  main {
    display: flex;
    height: 100vh;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  section {
    max-width: map-get($grid-breakpoints, "maximum");

    .four-o-four-wrapper {
      display: flex;
      justify-content: center;
      padding-bottom: 5rem;
    }
  }

  .header {
    font-weight: bold;
    font-size: 7.75rem;
    text-transform: uppercase;
    text-decoration: overline;
    text-decoration-color: $color-one;
    text-align: center;

    @include impact-font();
  }

  .location {
    text-transform: capitalize;
    text-align: center;
    font-size: 3rem;

    a {
      color: $color-one;
    }
  }
}
