#four-o-four {
  main {
    display: flex;
    height: 100vh;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: url('#{$image-path}/pages/20230817-mobile.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
  }

  section {
    max-width: map-get($grid-breakpoints, "maximum");

    .four-o-four-wrapper {
      background-color: rgba(0, 0, 0, $backdrop-opacity-light);
      display: flex;
      justify-content: center;
      padding: 5rem 1rem;
      border-top: 4px solid $four-o-four-border-color;
      border-bottom: 4px solid $four-o-four-border-color;
    }
  }

  .header {
    font-weight: bold;
    font-size: 7.75rem;
    text-transform: uppercase;
    text-align: center;

    @include impact-font();
  }

  .location {
    text-transform: capitalize;
    text-align: center;
    font-size: 3rem;

    a {
      color: $four-o-four-link-color;
      text-decoration: none;
    }
  }
}
