= javascript_include_tag(webpack_asset_path("vendor.js", "site"))
= javascript_include_tag(webpack_asset_path("site.js", "site"))

javascript:
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','G-B92V6RQE7G');

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-B92V6RQE7G');

- if app.development?
  javascript:
    $(document).ready(() => {
      console.log("------------------------------------------------------------");
      console.log("Site Mode: Development");
      console.log("jQuery Version: " + $().jquery);
      console.log("Bootstrap Version: " + $.fn.tooltip.Constructor.VERSION);
      console.log("------------------------------------------------------------");
    });
