= javascript_include_tag(webpack_asset_path("vendor.js", "site"))
= javascript_include_tag(webpack_asset_path("site.js", "site"))

|<script async src="https://www.googletagmanager.com/gtag/js?id=G-B92V6RQE7G"></script>

javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-B92V6RQE7G');

- if app.development?
  javascript:
    $(document).ready(() => {
      console.log("------------------------------------------------------------");
      console.log("Site Mode: Development");
      console.log("jQuery Version: " + $().jquery);
      console.log("Bootstrap Version: " + $.fn.tooltip.Constructor.VERSION);
      console.log("------------------------------------------------------------");
    });
