meta[charset="utf-8"]
meta[name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"]
meta[name="description" content="#{data.settings.meta.description}"]
meta[name="HandheldFriendly" content="True"]
meta[property="og:url" content="#{data.settings.url}"]
meta[property="og:type" content="website"]
meta[property="og:title" content="#{data.settings.meta.title} | #{data.settings.meta.focus}"]
meta[property="og:description" content="#{data.settings.meta.description}"]
meta[property="og:image" content="#{image_url('meta/20241020.jpg')}"]
