#index {
  main {
    display: flex;
    height: 100vh;
    background-color: $background-color-body;
    padding: 0;

    @include media-breakpoint-up(xs) {
      align-items: initial;
      justify-content: initial;
    }
  }

  @import "pages/index/bio-wrapper";
}
