$image-path: '../../assets/images/';

$color-white: #fff;
$color-black: #000;
$color-one: #A6038B;
$color-two: #D904CB;
$color-three: #0487D9;
$color-four: #05C7F2;
$color-five: #05F2F2;

@mixin font-color { color: $color-white; }

$avatar-wrapper-highlight--border-color: $color-one;
$avatar-wrapper-highlight-fade-color: $color-two;

$name-top-border-color: $color-two;
$category-top-border-color: $color-two;

$bio-link-color: $color-five;
$social-link-color: $color-four;

$four-o-four-highlight-color: $color-one;

$backdrop-opacity: 0.8;
$backdrop-opacity-dark: 0.9;
$backdrop-opacity-light: 0.7;
$backdrop-opacity-medium-light: 0.5;
$backdrop-opacity-super-light: 0.2;

$grid-breakpoints: (
  xs: 0,
  minimium: 375px,
  maximum: 500px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$zindex-cover: 10000 !default;
