#four-o-four {
  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-right: 0;
    padding-left: 0;
    background: url('#{$image-path}/backgrounds/four-o-four/20241027-screaming-cat.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .section-four-o-four-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      padding-right: 0;
      padding-left: 0;

      .section-header {
        @include background-color-alpha($color: $color-one, $alpha: $backdrop-opacity-dark);

        border-top: 0.1rem solid $color-two;
        border-bottom: 0.1rem solid $color-two;
        text-transform: uppercase;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;

        span {
          vertical-align: middle;
          font-size: 1rem;
        }

        .title {
          font-size: 2rem;
        }
      }
    }
  }
}
