#index {
  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-up(xxl) {
      background: url('#{$image-path}/backgrounds/biography/20241027-background-collage.jpg');
      background-position: left center;
      background-size: contain;
      background-repeat: repeat;
    }
  }

  .section-xxl-content-wrapper {
    @include box-shadow(0.5rem, 0, 0.5rem, 0);
    flex-direction: column;
    min-height: 100vh;
  }

  .section-biography-wrapper,
  .section-slogan-wrapper,
  .section-location-wrapper {
    margin-right: 0;
    margin-left: 0;

    @include media-breakpoint-up(xs) {
      min-height: 100vh;
    }

    @include media-breakpoint-up(xxl) {
      min-height: inherit;
      padding: 0;
    }

    .biography-wrapper,
    .slogan-wrapper,
    .location-wrapper {
      padding-right: 0;
      padding-left: 0;

      @include media-breakpoint-up(xs) {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }

      @include media-breakpoint-up(xxl) {
        display: block;
        min-height: inherit;
      }
    }
  }

  #crazy-avatar-video-wrapper {
    @include media-breakpoint-up(xs) {
      display: none;
    }

    //@include media-breakpoint-up(xxl) {
    //  display: block;
    //  padding: 0;
    //  margin: 0;
    //
    //  #crazy-avatar-video-background {
    //    min-width: 100%;
    //    min-height: 100%;
    //  }
    //
    //  #crazy-avatar-fade-background-overlay {
    //    position: absolute;
    //    top: 0;
    //    width: 15px;
    //    height: 100%;
    //    background: linear-gradient(to right, $color-black, transparent);
    //    pointer-events: none;
    //  }
    //}
  }

  @import "index/biography";
  @import "index/slogan";
  @import "index/location";
}
