#index {
  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-right: 0;
    padding-left: 0;
  }

  .section-biography-wrapper,
  .section-slogan-wrapper,
  .section-location-wrapper {
    margin-right: 0;
    margin-left: 0;
    min-height: 100vh;

    .biography-wrapper,
    .slogan-wrapper,
    .location-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .section-biography-wrapper,
  .section-slogan-wrapper {
    border-bottom: 0.1rem solid $color-five;
  }

  @import "index/biography";
  @import "index/slogan";
  @import "index/location";
}
