$image-path: "../../assets/images/";

$color-white: #fff;
$color-black: #000;
$color-one: #BF2642;
$color-two: #D90404;
$color-three: #A60303;
$color-four: #590202;
$color-five: #0D0D0D;

$color-primary: #D90404;
$color-secondary: #A60303;
$color-fade: #0D0D0D;

// MINE ---------------------------------------------------------

$default-font-size: 1.1rem;
$default-font-color: $color-black;

$background-color-body: $color-black;
$background-color-fade: $color-fade;
$background-color-slogan: $color-white;

$bio-name-font-size: 3rem;
$bio-name-font-color: $color-white;

$backdrop-opacity-default: 0.8;
$backdrop-opacity-dark: 0.9;
$backdrop-opacity-light: 0.7;
$backdrop-opacity-medium-light: 0.5;
$backdrop-opacity-super-light: 0.2;

// LIBRARY SPECIFIC ---------------------------------------------
$grid-breakpoints: (
        xs: 0,
        minimium: 375px,
        maximum: 500px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$zindex-cover: 10000 !default;

// SITE FONTS ----------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Teko:wght@700&display=swap');

@mixin impact-font-family { font-family: 'Teko', sans-serif; }

@mixin default-font { font-family: "Helvetica Neue,Helvetica,Arial,sans-serif;", serif }















// PREVIOUS VERSION TBD ------------------------------------------------


$avatar-wrapper-highlight--border-color: $color-secondary;
$avatar-wrapper-highlight-fade-color: $color-primary;

$name-top-border-color: $color-primary;
$category-top-border-color: $color-primary;

$bio-link-color: $color-primary;
$social-link-color: $color-primary;


@mixin default-font-color { color: $color-white; }







$impact-category-name-font-size: 2rem;

$social-link-font-size: 2rem;

$four-o-four-link-color: $color-five;
$four-o-four-border-color: $color-two;
