@include media-breakpoint-up(xs) {
  .section-bio-wrapper {
    background: url('#{$image-path}/pages/backgrounds/avatar/20231124.jpg') no-repeat;
    background-size: cover;
    background-position: center center;

    @include set-gutters(0);
  }

  .name-wrapper {
    .name {
      position: absolute;
      top: 35vh;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;

      font-weight: bold;
      font-size: $bio-name-font-size;
      color: $bio-name-font-color;
      //text-transform: uppercase;
      text-align: center;
      line-height: 50px;

      @include impact-font-family();
      @include set-box-shadow-all-sides();

      padding: 0.5rem 0;

      .name-details {
        padding-top: 0.5rem;
      }

      //.name-icon {
      //  img {
      //    padding: 0 0.5rem;
      //
      //    @include media-breakpoint-up(xs) {
      //      max-height: 50px;
      //    }
      //  }
      //}
    }
  }
}
