@include media-breakpoint-up(xs) {
  .section-slogan-wrapper {
    background-color: $background-color-slogan;

    @include set-gutters(0);
  }

  .slogan-wrapper {
    padding: 1rem;

    .slogan {

    }
  }
}


@include media-breakpoint-up(xs) {
  .section-biography-wrapper {
    background: url('#{$image-path}/backgrounds/avatar/20241027.jpg') no-repeat;
    background-size: cover;
    background-position: center center;

    //@include set-gutters(0);
  }
}
