@include media-breakpoint-up(xs) {
  .section-biography-wrapper {
    @include media-breakpoint-up(xs) {
      background: url('#{$image-path}/backgrounds/biography/20241027-background-avatar.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      border: 0 0 0.1rem 0 solid $color-five;
    }

    @include media-breakpoint-up(md) {
      background: url('#{$image-path}/backgrounds/biography/20241027-background-collage.jpg');
      background-position: left center;
      background-size: contain;
      background-repeat: repeat;
    }

    .biography-wrapper {
      @include media-breakpoint-up(xs) {
        border: 0 solid $color-five;
        border-width: 0 0 0.1rem 0;
      }

      @include media-breakpoint-up(xxl) {
        border: none;
      }

      .biography-wrapper-inner-left {
        background: url('#{$image-path}/backgrounds/biography/20241027-avatar-pointer.png');
        background-size: cover;
        background-position: center center;
        background-size: 75%;
        background-repeat: no-repeat;
      }

      .biography-wrapper-right {
        @include media-breakpoint-up(xs) {
          box-shadow: none;
        }

        @include media-breakpoint-up(md) {
          @include box-shadow-all-sides();
        }
      }

      .biography-wrapper-inner-right {
        @include media-breakpoint-up(xs) {
          @include background-color-alpha($color: $color-one, $alpha: $backdrop-opacity-dark);
        }

        @include media-breakpoint-up(md) {
          box-shadow: none;
        }

        @include impact-font-family();

        width: 100%;
        font-size: 1.5rem;
        line-height: 3.5rem;
        border-bottom: 0.1rem solid $color-two;

        .name-icon {
          margin: 0 0.25rem;

          img {
            vertical-align: unset;
            margin: 0.5rem 0 0 0;

            @include media-breakpoint-up(xs) {
              max-height: 50px;
            }
          }
        }
      }

      .social-links {
        @include media-breakpoint-up(xs) {
          @include box-shadow($horiz: 0, $vert: 0.25rem, $blur: 0.5rem, $spread: 0, $color: $color-three);
        }

        @include media-breakpoint-up(md) {
          box-shadow: none;
        }

        @include background-color-alpha($color: $color-three, $alpha: $backdrop-opacity-dark);

        ul {
          list-style-type: none;
          padding: 0.75rem 0 0 0;
        }

        li {
          @include default-font-family();

          text-align: left;
          font-size: 0.75rem;

          span {
            font-size: 0.5rem;
            padding-right: 0.25rem;
            color: $color-two;
          }

          a {
            color: $color-five;
          }
        }
      }
    }
  }
}
