@include media-breakpoint-up(xs) {
  .section-biography-wrapper {
    @include media-breakpoint-up(xs) {
      background: url('#{$image-path}/backgrounds/biography/20241027-background-avatar.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      padding-right: 0;
      padding-left: 0;
    }

    @include media-breakpoint-up(md) {
      background: url('#{$image-path}/backgrounds/biography/20241027-background-collage.jpg');
      background-position: left center;
      background-size: contain;
      background-repeat: repeat;
    }

    @include media-breakpoint-up(xxl) {
      border: none;
      background: none;
    }

    .biography-wrapper {
      @include media-breakpoint-up(xs) {
        border: 0 solid $color-five;
        border-width: 0 0 0.1rem;
      }

      @include media-breakpoint-up(xxl) {
        border: none;
      }

      .biography-wrapper-inner-left {
        background: url('#{$image-path}/backgrounds/biography/20241027-avatar-pointer.png');
        background-position: center center;
        background-size: 75%;
        background-repeat: no-repeat;

        @include media-breakpoint-up(xxl) {
          background: none;
        }
      }

      .biography-wrapper-right {
        @include media-breakpoint-up(xs) {
          box-shadow: none;
        }

        @include media-breakpoint-up(md) {
          @include box-shadow-all-sides();
        }

        @include media-breakpoint-up(xxl) {
          box-shadow: none;
        }
      }

      .biography-wrapper-inner-right {
        @include media-breakpoint-up(xs) {
          @include background-color-alpha($color: $color-one, $alpha: $backdrop-opacity-dark);
        }

        @include media-breakpoint-up(md) {
          box-shadow: none;
        }

        @include impact-font-family();

        width: 100%;
        font-size: 1.5rem;
        line-height: 3.5rem;
        border-bottom: 0.1rem solid $color-two;

        .name-icon {
          margin: 0 0.25rem;

          #koolaid {
            vertical-align: unset;
            margin: 0.5rem 0 0;

            @include media-breakpoint-up(xs) {
              max-height: 50px;
            }
          }

          #avatar {
            max-width: 150px;
            border: 2px solid $color-five;
            border-radius: 50%;
            object-fit: cover;
            margin: 1rem 0.5rem;
          }
        }
      }

      .social-links {
        @include background-color-alpha($color: $color-three, $alpha: $backdrop-opacity-dark);

        font-size: 0.75rem;

        a {
          color: $color-five;
          text-decoration: none;
        }

        a:not(:last-child) {
          border: 0 solid $color-two;
          border-width: 0 0 0.1rem;
        }

        a:hover {
          color: $color-two;
          background-color: $color-five;
        }

        @include media-breakpoint-up(xs) {
          @include box-shadow($horiz: 0, $vert: 0.25rem, $blur: 0.5rem, $spread: 0, $color: $color-three);

          a {
            padding: 0.5rem 0;
          }

          span {
            padding-left: 0.5rem;
            padding-right: 0.25rem;
          }
        }

        @include media-breakpoint-up(md) {
          box-shadow: none;
        }

        @include media-breakpoint-up(xxl) {
          a {
            border: 0 solid $color-two;
            border-width: 0 0 0.1rem;
          }

          a:nth-child(2),
          a:nth-child(5) {
            border-left: 0.1rem solid $color-two;
          }
        }
      }
    }
  }
}
