@include media-breakpoint-up(xs) {
  .section-outer-wrapper {
    background: url('#{$image-path}/pages/backgrounds/avatar/20230919.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    padding: 0;
  }
}

.name-wrapper {

  .name {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

    background-color: rgba(red($background-color-fade), green($background-color-fade), blue($background-color-fade), $backdrop-opacity);

    font-weight: bold;
    font-size: $name-font-size;
    text-transform: uppercase;
    text-align: center;
    ine-height: 1;
    @include impact-font();

    padding: 0.5rem 0 0 0;
  }
}
