.career-wrapper {
  .header {
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: overline;
    /* stylelint-disable */
    text-decoration-thickness: 0.25rem;
    /* stylelint-enable */
    text-decoration-color: $category-top-border-color;
    padding-top: 0.5rem;

    @include impact-font();
  }

  .career-details {
    li {
      text-transform: capitalize;
    }
  }

  .career-details,
  .hustle-details {
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      &:not(:last-child) {
        padding-bottom: 0.5rem;
      }
    }
  }

  a {
    color: $bio-link-color;
    text-shadow: 1px 1px $color-black;
  }
}
