@include media-breakpoint-up(xs) {
  .section-location-wrapper {
    background: url('#{$image-path}/backgrounds/location/20241027-background-map.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0.75rem;

    .location-wrapper {
      background: url('#{$image-path}/backgrounds/location/20241027-avatar-journey.png');
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 75%;

      .location-wrapper {
        @include default-font-family();

        padding: 0.5rem 1rem;

        .locations {
          ul {
            list-style-type: none;
            padding: 0.75rem 0 0 0;
          }

          li {
            text-align: left;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
