@include media-breakpoint-up(xs) {
  .section-location-wrapper {
    background: url('#{$image-path}/backgrounds/location/20241027-background-map.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0.75rem;

    @include media-breakpoint-up(xs) {
      background-position: right center;
      border: none;
    }

    @include media-breakpoint-up(lg) {
      border: 0 solid $color-five;
      border-width: 0 0 0 0.05rem;
    }

    @include media-breakpoint-up(xxl) {
      @include background-color-alpha($color: $color-one, $alpha: $backdrop-opacity-dark);

      border: none;
      background-image: none;
    }

    .location-wrapper {
      @include default-font-family();

      @include media-breakpoint-up(xs) {
        background: none;
      }

      @include media-breakpoint-up(md) {
        background: url('#{$image-path}/backgrounds/location/20241027-avatar-journey.png');
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 50%;
        padding: 0.5rem 1rem;
      }

      @include media-breakpoint-up(lg) {
        align-items: flex-start;
        padding-top: 5rem;
        background-size: 45%;

        @media (height >= 1200px) {
          background-size: 75%;
        }
      }

      @include media-breakpoint-up(xxl) {
        padding: 0.5rem 0;
        background: none;
        border: none;
      }

      @include media-breakpoint-up(xxl) {
        @media (height >= 1000px) {
          background: url('#{$image-path}/backgrounds/location/20241027-vegas-sign-with-post.png');
          background-position: center bottom;
          background-repeat: no-repeat;
          background-size: 40%;
          min-height: 100%;
        }

        @media (height >= 1200px) {
          background-size: 50%;
        }

        @media (height >= 1400px) {
          background-size: 75%;
        }
      }

      .locations {
        padding-left: 0;
        font-size: 0.65rem;

        .locations-cities {
          ul {
            list-style-type: none;
            padding: 0.75rem 0 0;

            .home {
              text-decoration: underline;
              text-decoration-color: $color-five;
              text-underline-offset: 10px;
              text-decoration-thickness: 5px;
            }
          }

          li {
            text-align: left;
            text-transform: uppercase;

            @include media-breakpoint-up(xxl) {
              display: inline;
            }
          }

          @include media-breakpoint-up(xxl) {
            li::after {
              content: " / ";
              color: $color-five;
            }

            li:last-child::after {
              content: "";
            }
          }
        }

        .locations-lottie {
          padding: 0;

          @include media-breakpoint-up(xs) {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
          }

          @include media-breakpoint-up(md) {
            display: none;
          }

          @include media-breakpoint-up(lg) {
            @media (height > 1000px) {
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;
            }
          }

          #locations-lottie-animation {
            width: 100%;
            height: 100%;
            transform: scale(1.5);
            transform-origin: center center;
          }
        }
      }
    }
  }
}
