.name-locations-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .name {
    font-weight: bold;
    font-size: $impact-category-name-font-size;
    text-transform: uppercase;
    @include impact-font();
  }
}
