@use "sass:map";

html {
  overflow: hidden auto;
}

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  height: 100% !important;
  min-width: map.get($grid-breakpoints, 'minimium') !important;
  min-height: 100% !important;
  background-color: $background-color-body;
  font-size: $default-font-size;
  color: $default-font-color;
}
