---
id: four-o-four
layout: index
seo: false
---
section[class="col-12 mx-auto"]
  div[class="row four-o-four-wrapper"]
    div[class="col-12 mx-auto header"]
      |404!
    div[class="col-12 mx-auto location"]
      = link_to("/") do
        |Let's Go Home!
